---
layout: home
---
<div class="user-details">
	<div class="user-details-home">
		<h2> 欢迎来到我的小世界~~ </h2>
		<p style="text-align: justify;"> 欲买桂花同载酒，终不似，少年游。 </p>
	</div>
	<div class="user-details-tag">
		<h3>学习笔记</h3>
		<dl>
			<table >
			{% for post in site.gitpagelink %}
			{% assign index_2 = forloop.index | modulo: 2 %}
				{% if index_2 == 1 %}
					{% if forloop.index == 1 %} <tr> {% else %} </tr><tr> {% endif %}
				{% endif %}
				<td><dd><i class="fab fa-telegram-plane" aria-hidden="true"></i>&nbsp;<a href="{{ post.address }}" target="_blank">{{ post.name }}</a></dd></td>
				{% if forloop.size == forloop.index %}
					{% if index_2 == 0 %}</tr>{% else %}<td></td></tr>{% endif %}
				{% endif %}
			{% endfor %}
			</table>
		</dl>
		<h3>所有分类</h3>
		{% assign categories = site.categories | sort %}
		{% for category in categories %}
			<span class="site-tag">
				<a href="{{site.url}}{{site.baseurl}}/blog/categories#{{ category [0] | slugify }}" style="text-decoration: none;" >
					<code class="highligher-rouge" style="font-size:large">
						<nobr>{{ category[0] | replace:'-', ' ' }} ({{ category | last | size }})</nobr>
					</code>
				</a> &nbsp;
			</span>
		{% endfor %}
		<h3>所有标签</h3>
		  {% assign tags = site.tags | sort %}
		  {% for tag in tags %}
			  <span class="site-tag">
				  <a href="{{site.url}}{{site.baseurl}}/blog/tags#{{ tag[0] | slugify }}" style="text-decoration: none;" >
					   <code class="highligher-rouge" style="font-size:large">
						  <nobr>{{ tag[0] | replace:'-', ' ' }} ({{ tag | last | size }})</nobr>
					   </code>
				  </a> &nbsp;
			  </span>
		  {% endfor %}
	  </div>
</div>
<div class="permlinks">
<h2>近期文章</h2>
<dl>
	{% for post in site.posts limit:5 %}
	<dt><code>{{ post.date | date: "%Y-%m-%d" }} </code><i class="fas fa-angle-double-right" aria-hidden="true"></i><a href="{{ post.url }}">{{ post.title }}</a> &nbsp;{% include status-indicator.html status=post.status%}
	{% if post.description %}
 <dd style="text-align: justify">{{ post.description | markdownify }}
    </dd>
	{% endif %}
	{% endfor %}
	<p>... <a href="/blog">查看所有文章</a> </p>
</dl>

<h2>相关链接</h2>
<dl>
	{% for post in site.gitpagelink limit:3 %}
	<dd><i class="fab fa-telegram-plane" aria-hidden="true"></i>&nbsp;<a href="{{ post.address }}" target="_blank">{{ post.name }}</a></dd>
	{% endfor %}
</dl>

</div >
