<!DOCTYPE html>
<html lang="en">
   <head>
      {% include head.html %}  
      {% if page.mathjax %}			
      {% include markdown-enhancements/mathjax.html %}
      {% endif %} 
      {% include theme-vue.html%}
      <!-- change font -->
      <link href="https://fonts.googleapis.com/css?family=Roboto+Mono|Source+Sans+Pro:300,400,600&amp;subset=greek,greek-ext,latin-ext" rel="stylesheet" async>
      <!--  -->
   </head>
   {% include topnav.html active="home"%}
   <body>
      <div id="main">
         <div class="page">
            {% include frontmatter.html %}
            <div id="content-container" style="text-align:justify">
               {{ content }}			
            </div>
            {% if page.commentable %}
            <!-- 来必力City版安装代码 -->
            <div id="lv-container" data-id="city" data-uid="{{site.livere_uid}}" >
            <script type="text/javascript">
               (function(d, s) {
                  var j, e = d.getElementsByTagName(s)[0];
            
                  if (typeof LivereTower === 'function') { return; }
            
                  j = d.createElement(s);
                  j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
                  j.async = true;
            
                  e.parentNode.insertBefore(j, e);
               })(document, 'script');
            </script>
            <noscript>为正常使用来必力评论功能请激活JavaScript</noscript>
            </div>
            <!-- City版安装代码已完成 -->
            {% endif %} 
         </div>
      </div>
   </body>
   {% if page.mermaid == true %}
   {% include markdown-enhancements/mermaid.html %}
   {% endif %}
   {% if page.highlight == true %}
   {% include markdown-enhancements/highlight.html %}
   {% endif %}
</html>